* {
    font: arial;
    border: border-box;
    margin: 0;
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0px;

}

/**_____Box1_____**/
.navlogo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;

}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
    box-shadow: offset-x 4px 4px 4px transparent;

}

/**____Box2____**/
.nav-address {
    height: 45px;
    width: 80px;
    padding-top: 10px;
    font-size: 1rem;

}

.nav-location {
    display: flex;
    align-items: center;

}

/**___Box3___**/
.search-pannel {
    display: flex;
    color: white;
    background-color: #febd68;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;

}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    height: 100%;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;

}

/**____Box4___**/
.nav-language {
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    height: 45px;

}

.nav-flag {
    width: 70px;
    height: 30px;

    background-image: url(Flag.png);
    background-size: cover;
}

.nav-region {
    background-color: #0f1111;
    color: #f3f3f3;
    border-color: transparent;
    font-weight: bold;
}

/**Box5**/
.nav-progress {
    width: 145px;
    height: 45px;


}

.nav-101 {
    font-size: medium;
    background-color: #0f1111;
    color: #f3f3f3;
    border: transparent;
    font-weight: bolder;
    margin-top: 5px;
}

/**Box7**/
.nav-102 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 45px;
}

/**Box7**/
.nav-103 {

    color: white;
    font-size: 1.5rem;
    width: 65px;
    display: flex;
    justify-content: center;

}

.nav-order {
    width: 65px;
    height: 45px;
    margin-top: 5px;

}

.nav-104 {
    font-size: medium;
    font-weight: 100;
    display: flex;
    justify-content: center;
    margin-top: 5px;

}

/**Bar2**/
.bar2 {
    background-color: #262828;
    width: 100%;
    height: 39px;
    margin-top: 0px;
    padding-bottom: 0px;
    color: white;
    display: flex;
    align-content: space-between;

}

.opt-201 {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
}

.opt-202 {
    width: 65px;
    background-color: #262828;
    color: white;
    display: flex;

}

.sapt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opt-203 {
    width: 75px;
}

.opt-204 {
    width: 35px;
}

.opt-205 {
    width: 75px;
}

.opt-206 {
    width: 110px;
}

.opt-207 {
    width: 75px;
}

.opt-208 {
    width: 92px;
}

.opt-209 {
    width: 115px;
}

.opt-210 {
    width: 90px;
}

.opt-211 {
    width: 100px;
    background-color: #262828;
    color: white;
}

.opt-212 {
    width: 95px;
}

.opt-213 {
    width: 85px;
}

.opt-214 {
    width: 75px;
}

/**Bar3**/

.bar3 {
    box-shadow: offset-x 4px 4px 4px gray;
    display: flex;
    height: 45px;
}

.nav-401 {
    border-radius: 20px;
    background-color: rgb(244, 243, 242);
    width: 80px;
    height: 35px;
    margin-left: 20px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 2rem;
    border: 1px black solid;

}

.shadow-box {
    border: 2px solid #ffffff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color: #fff;
}

.nav-402 {
    width: 140px;

    display: flex;
    align-content: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
}

.nav-403 {
    width: 150px;
    color: #ff9204;
    display: flex;
    align-content: center;
    margin-top: 10px;
    font-weight: bold;
    width: 200px;
}


.nav-404 {
    color: #0f1111;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 650px;
    border-radius: 10px;
}

/**Hero Section**/

.hero-section {
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;

    justify-content: center;
    align-items: end;
}

.hero-message {
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    position: relative;
    margin-bottom: 25px;
    width: 90%;

}

/**Shop Section**/
.shop-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.85rem;
    margin-right: 0.85rem;
}

h2 {
    margin-left: 90px;
}

a {
    margin-left: 100px;
}

.img-501 {
    margin-right: 50px;
    margin-left: 50px;
}

.img-502 {
    margin-right: 50px;
    margin-left: 70px;
}

/**Footer**/
.footer-panel {
    background-color: #3b526e;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 25px;
    padding-top: 5px;
}

.about {
    background-color: #232f3e;
    height: 400px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-701 {
    width: 200px;
    padding: 40px 20px 0px 50px;

}

.about-702 {
    padding: 40px 20px 0px 50px;
    width: 250px;
}

.about-703 {
    padding: 40px 20px 0px 50px;
    width: 250px;
}

.about-704 {
    padding: 40px 20px 0px 50px;
    width: 250px;
}

/******************************************************************************************************************/
.box-100 {
    border: 2px solid grey;
    height: 20px;
    width: auto;
    display: flex;
    border-radius: 5px;
}

.country {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    background-image: url(Flag.png);
    background-size: cover;
    width: 25px;
    height: 10px;
    margin-right: 5px;
    margin-left: 2px;
}

.last {
    color: white;
    display: flex;
    align-items: flex-start center;
    justify-content: center;
    background-color: #232f3e;
    margin-top: 0px;
}